<!-- start header -->
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Redis Analytics</a>
      

      <ul class="nav nav-pills pull-right">
      <li><a><small><%=@t.round(2)%> sec</small></a></li>
	<li>
	  <div class="btn-group">
            <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">Settings</button>
            <ul class="dropdown-menu">

	      <li class="dropdown-submenu">
		<a tabindex="-1" href="#">Theme</a>
		<ul class="dropdown-menu">
		  <li><a href="?template=journal">Journal</a></li>
		  <li><a href="?template=readable">Readable</a></li>
		  <li><a href="?template=spacelab">Spacelab</a></li>
		  <li><a href="?template=united">United</a></li>
		  <li class="divider"></li>
		  <li><a href="?">Default</a></li>
		</ul>
	      </li>
              <li><a href="#">Preferences</a></li>
              <li class="divider"></li>
              <li><a href="#">About</a></li>
            </ul>
          </div>

	  <div class="btn-group" data-toggle="buttons-radio">
	    <button type="button" class="btn btn-small active">Visits</button>
	    <!-- <button type="button" class="btn btn-small" onclick='javascript:visits_area.grid=true'>Transactions</button> -->
	  </div>
	  <div class="btn-group" data-toggle="buttons-radio">
	    <button type="button" class="btn btn-small <%="active" if @range == :year%>" onclick='changeTimeFrame("year")'>Year</button>
	    <button type="button" class="btn btn-small <%="active" if @range == :week%>" onclick='changeTimeFrame("week")'>Week</button>
	    <button type="button" class="btn btn-small <%="active" if @range == :day%>" onclick='changeTimeFrame("day")'>Day</button>
	    <button type="button" class="btn btn-small">All</button>

	  </div>

	</li>
      </ul>
    </div>
  </div>
  <!-- end header -->
