<!-- start header -->
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Dashboard</a>
      <ul class="nav nav-pills pull-right">
	<li>
	  <div class="btn-group" data-toggle="buttons-radio">
	    <button type="button" class="btn btn-small active" onclick='changeTimeFrame("month")'>Visits</button>
	    <button type="button" class="btn btn-small" onclick='changeTimeFrame("week")'>Transactions</button>
	  </div>
	  <div class="btn-group" data-toggle="buttons-radio">
	    <button type="button" class="btn btn-small" onclick='changeTimeFrame("month")'>1 month</button>
	    <button type="button" class="btn btn-small active" onclick='changeTimeFrame("week")'>1 week</button>
	    <button type="button" class="btn btn-small" onclick='changeTimeFrame("day")'>1 day</button>
	    <button type="button" class="btn btn-small" onclick=''>1 hour</button>
	  </div>
	</li>
      </ul>
    </div>
  </div>
  <!-- end header -->
