<!-- start header -->
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">Dashboard</a>
      <ul class="nav nav-pills pull-right">
	<li>
	  <div class="btn-group" data-toggle="buttons-radio">
	    <button type="button" class="btn btn-small active" onclick='changeTimeFrame("month")'>Visits</button>
	    <button type="button" class="btn btn-small" onclick='javascript:visits_area.grid=true'>Transactions</button>
	  </div>
	  <div class="btn-group" data-toggle="buttons-radio">
	    <button type="button" class="btn btn-small" onclick='changeTimeFrame("year")'>Year</button>
	    <button type="button" class="btn btn-small active" onclick='changeTimeFrame("week")'>Week</button>
	    <button type="button" class="btn btn-small" onclick='changeTimeFrame("day")'>Day</button>
	    <button type="button" class="btn btn-small" onclick=''>Live</button>
	  </div>
	</li>
      </ul>
    </div>
  </div>
  <!-- end header -->
