<!-- start header -->
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="http://www.github.com/saturnine/redis_analytics">Redis Analytics</a>
    <ul class="nav nav-pills pull-right">
      <li>
        <div class="btn-group" data-toggle="buttons-radio">
          <a href="visits" class="btn btn-small <%=' active' if request.path.end_with?('/visits') %>">Visits</a>
        </div>
        <div class="btn-group" data-toggle="buttons-radio" id="timeRange">
        <% Rack::RedisAnalytics.time_range_formats.map{|x| x[0]}.each do |range| %>
	  <button type="button" class="btn btn-small <%="active" if @range == range%>" onclick='changeTimeFrame("<%=range.to_s%>")'><%=range.to_s%></button>
        <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- end header -->
