<table class="table table-bordered table-hover">
  <tr>
    <td>
      <p class="text-center"><b>Traffic Sources</b></p>
      <div id="referrers_donut" style="width:100%;height:160px;"></div>
    </td>
  </tr>
</table>

<script type="text/javascript">
  referrers_donut = Morris.Donut({
    element: 'referrers_donut',
    data: <%=@data[@range][:referrers_donut].to_json%>
  });
</script>