<table class="table table-bordered table-hover">
  <tr>
    <td>
      <p class="text-center">
        <b>Unique Visits</b><a href="#unique_visits_modal" data-toggle="modal"><i class="pull-right icon-search"></i></a></p>
      <div id="unique_visits_line" style="width:100%;height:160px;"></div>
    </td>
  </tr>
</table>

<script type="text/javascript">
    unique_visits_line = Morris.Line({
	element: 'unique_visits_line',
	xkey: 'raw',
	ykeys: ['unique_visits'],
	labels: ['Unique Visits'],
	ymax: 'auto',
	hideHover: 'auto',
	parseTime: false,
	lineWidth: 1,
	pointSize: 0,
	grid: true,
	pointFillColors: ['#fff'],
	pointStrokeColors: ['#000'],
    });
</script>