<table class="table table-bordered table-hover">
  <tr>
    <td>
      <p class="text-center"><b>Visit Recency</b></p>
      <div style="height:160px;">
        <div style="margin:5px;">
        <div id="recency_d" title="0 visits">
          <small class="muted">Less than 1 day (<span id="recency_d_cent">0</span>)</small>
          <div class="progress" style="height: 8px; margin-bottom:10px;">
            <div id="recency_d_bar" class="bar" style="width: 0%;"></div>
          </div>
        </div>

        <div id="recency_w" title="0 visits">
          <small class="muted">1 to 7 days (<span id="recency_w_cent">0</span>)</small>
          <div class="progress" style="height: 8px; margin-bottom:10px;">
            <div id="recency_w_bar" class="bar" style="width: 0%;"></div>
          </div>
        </div>

        <div id="recency_m" title="0 visits">
          <small class="muted">7 to 30 days (<span id="recency_m_cent">0</span>)</small>
          <div class="progress" style="height: 8px; margin-bottom:10px;">
            <div id="recency_m_bar" class="bar" style="width: 0%;"></div>
          </div>
        </div>

        <div id="recency_o" title="0 visits">
          <small class="muted">More than 30 days (<span id="recency_o_cent">0</span>)</small>
          <div class="progress" style="height: 8px; margin-bottom:10px;">
            <div id="recency_o_bar" class="bar" style="width: 0%;"></div>
          </div>
        </div>

        </div>
      </div>
    </td>
  </tr>
</table>