<table class="table table-bordered table-hover">
  <tr>
    <td>
      <p class="text-center"><b>Browser Info</b></p>
      <div id="browsers_donut" style="width:100%;height:160px;"></div>
    </td>
  </tr>
</table>
